.container {
    border: 4px solid red;
    height: 100%;

    position: relative;

    .listContainer {
        height: 100%;
        overflow: scroll;
        overflow-x: hidden;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-content: start;

        &::-webkit-scrollbar {
            display: none;
        }

        &.hide {
            height: 0;
        }

        .item {
            border: 1px solid blue;
        }
    }

    .addRecipe {
        border: none;
        outline: none;
        --pretty-blue: #0074D9;
        background-color: var(--pretty-blue);
        color: white;
        font-size: 3em;

        position: absolute;
        border-radius: 50%;

        --dist: 2vw;
        bottom: var(--dist);
        right: var(--dist);
        --size: max(3vw, 60px);
        width: var(--size);
        height: var(--size);

        display: grid;
        align-content: center;

        z-index: 2;

        --transition: 0.2s ease-in-out;
        transition: var(--transition);
        transition-property: background-color;
        &:active, &:hover {
            background-color: #7FDBFF;
            span {
                color: var(--pretty-blue);
            }
        }

        span {
            position: relative;
            top: -1px;
            transition: var(--transition);
            transition-property: color;
        }
    }
}