.container {
    // border: 4px solid goldenrod;

    height: 0;
    &.shown {
        // border: 4px solid green;
        height: 100%;
    }

    .title {
        color: red;
        font-size: 40px;
    }

    .ingredients {
        border: 1px solid green;
    }

    .instructions {
        border: 1px solid deeppink;
    }
}